@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="customer-table ">
    <div class="sub-headding p-b-10">
        <h2>Service History</h2>
        <button class="Export">Export</button>
    </div>

    <table id="example" class="display customer-table" style="width:100%">
        <thead>
            <tr>
                <th>Service Details<img alt="" class="sorting-img"></th>
                <th>Service Provider <img alt="" class="sorting-img"></th>
                <th class="cus-dait">Payment <img alt="" class="sorting-img"></th>
                <th>Status <img alt="" class="sorting-img"></th>
                <th>Rate SP <img alt="" class="sorting-img"></th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <!-- <td><label class="btn status-Completed" value="">Completed</label></td> -->
                <td><label class="btn status-Completed" value="">Completed</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>

            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <!-- <td><label class="btn status-cancelled" value="">Cancelled</label></td> -->
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-Completed" value="">Completed</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-Completed" value="">Completed</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-Completed" value="">Completed</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>
            <tr>

                <td>
                    <img src="~/img/customer-service/calendar.png" alt="">
                    <span class="bold">20/04/2018</span>
                    12:00 - 18:00
                </td>
                <td>
                    <div class="media d-flex justify-content-center ">
                        <img class="align-self-center mr-3" src="~/img/customer-service/forma-1-copy-19.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Lyum Watsone <br>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fa-unstar"></i>4
                        </div>
                    </div>
                </td>
                <td class="price">€63</td>
                <td><label class="btn status-cancelled" value="">Cancelled</label></td>
                <td><button class="btn rate" value="">Rate SP</button></td>
            </tr>


        </tbody>

    </table>
</div>

@section UserLayoutSection{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ],

                "bFilter": false, //hide Search bar
                "pagingType": "full_numbers",
                paging: true,
                "pagingType": "full_numbers",
                // bFilter: false,
                ordering: true,
                searching: false,
                info: true,
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ],
                "oLanguage": {
                    "sInfo": "Total Records: _TOTAL_"
                },
                "dom": '<"top">rt<"bottom"lip><"clear">',
                responsive: true,
                "order": []
            });
        });
    </script>
}