@{
    ViewData["Title"] = "About";
}

<section class="first-img">
    <img src="~/img/about/hero-banner-img.png" alt="">
</section>

<section class="words-1">
    <div class="max-width-986">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-5" style="position: relative;">
                <h2 class="headding-star">A Few words about us</h2>
            </div>
        </div>
        <div class="text-body text-center">
            <p class="mb-0">
                We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.
            </p>


            <br>
            <p>
                We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.
            </p>
        </div>



        <div class="row justify-content-center text-center pt-43">
            <div class="col-12 mb-5" style="position: relative;">
                <h2 class="headding-star">Our Story</h2>
            </div>
        </div>
        <div class="text-body text-center">
            <p>
                A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.
            </p>
        </div>

    </div>
</section>