@{
    ViewData["Title"] = "FAQ";
}


<section class="first-img">
    <img src="~/img/faq/faq-banner.png" alt="">
</section>


<section class="FAQ pt-0" id="FAQ">
    <div class="max-width-986 pt-0">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-5" style="position: relative;">
                <h2 class="headding-star">FAQs</h2>
            </div>
        </div>
        <div class="container container-max-width">
            <p class="text-center headding-content m-tb-36">
                Whether you are Customer or Service provider,<br>We have tried our best to solve all your queries and questions.
            </p>

            <ul class="nav nav-pills mb-3 col-md-12" id="pills-tab" role="tablist">
                <li class="nav-item col" role="presentation">
                    <button class="nav-link active col-md-6" id="customer-tab" data-bs-toggle="pill" data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">For Customer</button>
                </li>
                <li class="nav-item col" role="presentation">
                    <button class="nav-link col-md-6" id="service-tab" data-bs-toggle="pill" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="false">For Service Provider</button>
                </li>

            </ul>
          
         
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="customer" role="tabpanel"
                         aria-labelledby="customer-tab">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="customer-headingOne">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#customer-collapseOne"
                                            aria-expanded="false" aria-controls="customer-collapseOne">
                                        What's included in a cleaning?
                                    </button>
                                </h3>
                                <div id="customer-collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="customer-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Bedroom, Living Room & Common Areas, Bathrooms, Kitchen, Extras
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="customer-headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#customer-collapseTwo"
                                            aria-expanded="false" aria-controls="customer-collapseTwo">
                                        Which Helperland professional will come to my place?
                                    </button>
                                </h3>
                                <div id="customer-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="customer-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available. Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings. You will receive an email with details about your professional prior to your appointment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="customer-headingThree">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#customer-collapseThree"
                                            aria-expanded="false" aria-controls="customer-collapseThree">
                                        Can I skip or reschedule bookings?
                                    </button>
                                </h3>
                                <div id="customer-collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="customer-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="customer-headingFour">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#customer-collapseFour"
                                            aria-expanded="false" aria-controls="customer-collapseFour">
                                        Do I need to be home for the booking?
                                    </button>
                                </h3>
                                <div id="customer-collapseFour" class="accordion-collapse collapse"
                                     aria-labelledby="customer-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        We strongly recommend that you are home for the first clean of your booking to show your cleaner around. Some customers choose to give a spare key to their cleaner, but this decision is based on individual preferences.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="service" role="tabpanel"
                         aria-labelledby="service-tab">
                        <div class="accordion accordion-flush" id="accordionFlushExample2">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="service-provider-headingOne">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#service-provider-collapseOne"
                                            aria-expanded="false" aria-controls="service-provider-collapseOne">
                                        How much do service providers earn?
                                    </button>
                                </h3>
                                <div id="service-provider-collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="service-provider-headingOne" data-bs-parent="#accordionFlushExample2">
                                    <div class="accordion-body">
                                        The self-employed service providers working with Helperland set their own payouts, this means that they decide how much they earn per hour.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="service-provider-headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#service-provider-collapseTwo"
                                            aria-expanded="false" aria-controls="service-provider-collapseTwo">
                                        What support do you provide to the service providers?
                                    </button>
                                </h3>
                                <div id="service-provider-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="service-provider-headingTwo" data-bs-parent="#accordionFlushExample2">
                                    <div class="accordion-body">
                                        Our call-centre is available to assist the service providers with all queries or issues in regards to their bookings during office hours. Before a service provider starts receiving jobs, every individual partner receives an orientation session to familiarise with the online platform and their profile.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
   


</section>


