@media (max-width: 1200px) {

    .scroll-up-btn.top-arrow{
        left: 10px;
    }
    
    .scroll-up-btn.message-box{
        right: 10px;
    }
    
    .navbar .navbar-nav li {
        margin-left: 4px;
        margin-right: 4px;
    }

    .navbar .navbar-nav .rounded-link {
        padding: 6px 13px;
    }
    .navbar .navbar-nav .rounded-link{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .navbar-collapse{
        background-color: #525252;
        max-height: 100vh;
    }

    .navbar-collapse .navbar-nav{
        align-items: center;
    }

    .navbar-collapse ul li{
        /* margin: 7px; */
    }

    .navbar-collapse ul li a{
        display: inline-block;
    }
    .sidebar-div-menu{     
        background: #1d7a8c !important;
    }
   
}

@media (max-width: 991px) {
    .home .home-content .button button {
        margin-bottom: 30px;
    }

    .home .home-content .payment-process .arrow img {
        width: 50px;
    }

    .home .home-content .payment-process .icon-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    footer .footer-max-width .logo img{
        width: 90px;
    }
    footer .footer-max-width{
        justify-content: center;
    }
    .Why-helperland .Why-helperland-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Why-helperland .Why-helperland-box .card .card-body .text-1,.text-2{
            text-align: center !important;
    }
    .Why-helperland .Why-helperland-box .card{
        max-width: 377px !important;
    }
    .background-img1{
        display: none;
    }
    
    .background-img2{
        display: none;
    }
    .works .process .process-information{
        order: 2;
    }
    .works .process .process-img{
        order: 1;
    }
    .service-provider-navbar{
        position: absolute;
        top: 72px;
        left: 0px;
        height: 100vh;
        width: 100vw;
    }
    /* sidebar and navbar css start*/
        
        .nav-sidebar-ul{
            display: flex;
            text-align: center;
            border-top: 2px solid #fff;
        }
        .sidebar-main{
            display: none;
           
        }
        
    /* sidebar and navbar css end*/

    .navbar-nav .profile-icone{
        display: none;
    }
    .navbar-nav .username{
        display: inline-block !important;
        color: #fff;
    }
    .navbar-nav .logout{
        
        background: #1d7a8c;
        padding: 0 50px;
        

    }
    .navbar-nav .logout a{
        display: inline-block !important;
    }
.navbar-nav-icone .profile-icone{
    display: none;
}
/* admin css satrt */
.admin-body .admin-sidebar .collapse ul{
    display: flex;
    flex-direction: column !important;
  
}

}
@media (max-width: 768px) {
    .home .home-content .payment-process{
        flex-direction: column;
    }
    .home .home-content .payment-process .arrow img{
        transform: rotate(90deg);
    }
    .home .home-content .payment-process .flip-arrow img{
        transform: scaleX(-1) rotate(90deg);
    }

    .home .home-content .payment-process .payment-process-box {
        margin: 0px 20px;
    }

    .home .home-content .payment-process .payment-process-box h6 span {
        display: inline-block;
    }
    .contact-us .contact-img{
        flex-direction: column;
        
    }
    .contact-us .contact-img .box{
        padding: 20px 0;
    }
    .touch-us .pt-25{
        padding-top: 25px !important;
    }
    .works .process .process-information{
        order: 2;
        text-align: center;
    }
    
    .sidebar-main{
        background: none !important ;
        
    }
    .upcomingservice .sidebar-max-width {
        flex-direction: column;
    }
    #example_wrapper{
        padding-top: 10px;
    }
    .sidebar-div-menu {
        position: absolute;
        z-index: 1;
        margin-top: 10px;
    }
    

}

@media (max-width: 576px) {
    .navbar-brand img {
        height: 90px;
        transition: all 0.3s ease;
    }

    .home .home-content{
        padding: 220px 5px 15px 5px;
    }

    .home .home-content .payment-process {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .home .home-content .title {
        font-size: 25px;
    }

    .home .home-content .home-text ul li {
        font-size: 14px;
    }

    .home .home-content .button button {
        padding: 8px 20px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .home .home-content .payment-process .icon-box{
        height: 45px;
        margin-bottom: 10px;
    }

    .home .home-content .payment-process .img-size{
        width: 35px;
    }

    footer .footer-max-width .logo img{
        width: 70px;
    }
    /* faq page start */
    .FAQ .container-max-width ul li{
        display: contents;
    }
    /* faq page end */
    .Why-helperland .helperland-img{
        padding: 30px 0; 
    } 
    footer .privacy-policy{
        flex-direction: column;
        
    }
    footer .privacy-policy span{
        margin-right: 0 !important;
    }

    .register-main-box .register-box{
        max-width: 430px;
        width: 100%;
    }

}

@media (max-width: 420px){
    .navbar-brand img {
        height: 60px;
    }

    .home .home-content .payment-process .payment-process-box {
        margin: 0px 10px;
    }

    .home .home-content .payment-process .payment-process-box h6{
        width: 130px;
    }
    .Extra-services .other-services{
        justify-content: center;
    }

   
}
