@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Common Style Start */



.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0px 46px;
}

.max-width-1140{
    max-width: 986px;
    margin: auto;
    padding: 20px ;
}
.max-width-1560{
    max-width: 1560px;
    margin: auto;
}
.max-width-986{
    max-width: 986px;
    margin: auto;
    padding: 20px ;
}
.max-width-788{
    max-width: 788px;
    margin: auto;
    padding: 20px ;
}
.max-width-614{
    max-width: 644px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-430{
    max-width: 430px;
    margin: auto;
    padding: 20px ;
}
section{
    padding: 40px 0px;
}

section .headding{
    height: 40px;
    color: #4f4f4f;
    font-weight: bold;
}

.bg-color-pal-grey{
    background-color: #f4f5f8;
}
.admin-navbar-bg-color{
    background-color: #1FB6FF;
}
.mb-40{
    margin-bottom: 40px;;
}
.m-t-15{
    margin-top: 15px !important;
}
.mt-17{
    margin-top: 17px;
}
.mt-10{
    margin-top: 10px !important;
}
.mb-60{
    margin-bottom: 60px;
}
.p-lr-22{
    padding: 0px 22px;
}
.m-tb-36{
    margin: 36px 0;
}
.m-tb-30{
    margin: 30px 0px;
}
.mb-75{
    margin-bottom: 75px !important;
}
.mt-30{
    margin-top: 30px;
}
.mt-70{
    margin-top: 70px;
}
.mb-15
{
    margin-bottom: 15px;
}
.mt-25{
    margin-top: 25px;
}
.m-50{
    margin: 50px;
}
.pt-43{
    padding-top: 43px;
}
.p-tb-10{
    padding: 5px 0 !important;
}
.p-tb-15{
    padding:15px 0 !important;
}
.pt-23{
    padding-top: 23px;
}
.p-44{
    padding-top: 44px;
}
.p-t-64{
    padding-top: 64px;
}
.p-lr-20{
    padding: 0 20px;
}
.btn-rounded-17{
    border-radius: 17px;
}
.navbar-height-64{
    height: 72px;
}
.navbar-height-60{
    height: 68px;
}
.border-b-1{
    border-bottom: 1px solid #B0C9CE;
}
.card .card-body a{
    font-size: 18px;
    color: #4f4f4f !important;
}

section .headding-star{
    font-size: 35.95px;
    color: rgba(79, 79, 79, 1);
    display: inline-block;
}
section .headding-star::after{
    position: absolute;
    bottom: -33px;
    display: block;
    content: "";
    width: 44px;
    height: 24px;
    left: 50%;
    margin-left: -22px;
    background: #fff url(../img/faq/forma-1-copy-5.png) center no-repeat;
    background-size: contain;
}
section .headding-star::before{
    content: '';
    border-bottom: solid 1px #333;
    width: 166px;
    height: 25px;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;

}

.newsletter h4{
    color: #353548;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.newsletter input{
    width: 233px;
    height: 40px;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    padding: 0px 15px;
}

.newsletter button{
    width: 88px;
    height: 40px;
    background-color: #FF7B6D;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}


    /* databale csss start */
    #example_wrapper{
        width: 845px !important;
        border: 1px solid #E1E1E1;
    }
    #example_wrapper .bottom{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  

    .table-data tr{
        border: solid 1px #e1e1e1 !important;
    }
    .table-data tr th{
        border-bottom: none !important;
        width: 100px;
        

    }
    .table-data tr th:nth-child(2){

        width: 120px !important;

    }
    .table-data tr th:nth-child(3){

        width: 230px !important;

    }
    table.dataTable thead .sorting {
        background-image: none !important;
    }
    table.dataTable thead .sorting .sorting-img {
        content: url("../img/service-provider-upcoming-service/sort.png");
    }
    table.dataTable thead .sorting_asc {
        background-image: none !important;
    }
    table.dataTable thead .sorting_dec {
        background-image: none !important;
    }
    table.dataTable thead th.sorting,
    table.dataTable thead th.sorting_asc,
    table.dataTable thead th.sorting_desc {
      background-image: none !important;
      padding: 4px 5px;
    }

    table.dataTable thead th.sorting_asc .sorting-img{
        content: url("../img/service-provider-upcoming-service/icons8-up-arrow-30.png") !important;
        height: 15px;
    }
    table.dataTable thead th.sorting_desc .sorting-img{
        content: url("../img/service-provider-upcoming-service/icons8-down-arrow-30.png") !important;
        height: 15px;
    }

    table.dataTable.display tbody tr{
        background-color: white !important;
    }
    

    table.dataTable.display tbody tr:hover>.sorting_1,
 table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
     background-color:#fff !important;
    }
    table.dataTable.display tbody tr.odd>.sorting_1, 
    table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
        background-color: #FFF !important;
    }

    .paginate_button{
        border-radius: 50% !important;
    }
    .paginate_button:hover{
        background: #1D7A8C !important;
    }
    .paginate_button.current{
        background: #1D7A8C !important;
        color: #fff !important;
    }
   
  
    .dataTables_paginate{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.first{
        content: url(../img/customer-service/first-page.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.previous{
        content: url(../img/customer-service/keyboard-right-arrow-button-copy.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        background: #1d7a8c;
        color: #fff !important;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button{
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        position: relative !important;
        margin-left: 3px !important;
    }
    
    .dataTables_wrapper .dataTables_paginate span .paginate_button{
        top: -13px;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.next{
        content: url(../img/customer-service/keyboard-right-arrow-button-copy.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        transform: rotate(180deg);
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.last{
        content: url(../img/customer-service/first-page.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        transform: rotate(180deg);
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.first:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        background-color: #fff;
        border: 1px solid #1d7a8c;
        background: #fff;
        color: #111 !important;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{
        border-color: #8bc7d3;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button{
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        position: relative !important;
        margin-left: 3px !important;
    }
    
    .dataTables_wrapper .dataTables_paginate span .paginate_button{
        top: 0px;
    }

    /* .navbar-toggler-side{
        background-image: url(../img/service-provider/angle-right-solid.svg)!important;
        } */
    /* table.dataTable thead th.sorting_asc,.sorting-img{
        background-image: ;
    } */
    /* background-image: url(../images/sort_asc.png) !important; */

    /* databale csss start */


.newsletter-section{
    padding-top: 0px;
}
.bg-btn-29626d{
    background-color: #29626d;
}

select:invalid{
    color: gray;
}
option{
    color: black;
}




/* Navbar start*/

.navbar {
    transition: all 0.3s ease;
}

.navbar.navbar-bg-color{
    background-color: #525252;

}

.navbar-brand img {
    height: 130px;
    /* width: 175px; */
}

.navbar.navbar-bg-color .navbar-brand img{
    height: 54px;
    width: 74.69px;
}

.navbar .navbar-nav li{
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px transparent;
    border-radius: 30px;
}
.navbar .navbar-nav .rounded-li a:hover{
    background-color: #fff;
    color: black !important;
}
.navbar .navbar-nav .nav-item:not(.rounded-li):hover{
    border: 1px solid #fff;

}
.navbar .navbar-nav .rounded-link{
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px  25px;
    margin: 0px 5px;
}

.navbar .navbar-nav li a{
    padding: 0px;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff !important;
}

.navbar .navbar-nav .county-flag{
    width: 25px;
    height: 16px;
}

.navbar .navbar-nav .dropdown-menu{
    background-color: transparent !important; 
    border: none;
    min-width: 0px;
    left: 11px;
    padding: 0px;
    position: absolute;
    padding: 0;
    list-style: none;
    margin: 0;
    background: #fff; 
    top: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
   
}

.navbar-default .alert-dropdown .dropdown-menu {
    position: absolute;
    padding: 0;
    list-style: none;
    margin: 0;
    background: #fff;
    min-width: 295px;
    right: 0;
    top: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin-top: 28px;
    
    
    transition: all .3s ease;
    display: block;
}
.navbar .profile-nav{
    display: flex;
}
.navbar-light .navbar-toggler {
    margin-right: 10px;
}
.navbar .nav-sidebar-ul .sid-nav-item a{
    text-decoration: none;
}

.navbar .service-provider-navbar .nav-sidebar-ul li{
    border: 1px solid transparent;
    border-radius: 130px;
    display: inline-block;
    padding: 0 20px;
    /* border-radius: inherit; */
}
.navbar .service-provider-navbar .nav-sidebar-ul .active{
    border: solid 1px #FFF;
}

.numbaer-notification-main{
    display: block;
    position: relative;
}
.numbaer-notification-main .dropdown-toggle::after{
    content: none !important;
}
.numbaer-notification{
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    right: 6%;
    padding-top: -3px;
    padding-left: 5px;
    color: white;
}
.numbaer-notification-main .notification-ul{
    min-width: 295px;
    margin-top: 28px;
}
.numbaer-notification-main .notification-ul::before{
    position: absolute;
    
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 24px;
}
.numbaer-notification-main .notification-ul::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 25px;
}
.navbar-nav-icone .profile-icone ul{
    left: -103px;
    /* top: 70px; */
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.navbar-nav-icone .numbaer-notification-main ul{

    top: 114%;
}
.navbar-nav-icone .dropdown-toggle::after{
    content: url('../img/customer-service/sp-arrow-down.png');
    border-top: none;
}
.profile-icone .dropdown-menu{
    margin-top: 28px;
}
.profile-icone .dropdown-menu::before{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 9px 14px 9px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    top: -14px;
    right: 34px;
}
.profile-icone .dropdown-menu::after{
    position: absolute;
    top: 0;
    content: "";
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    right: 35px;
}
.profile-icone .username{
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.profile-icone .dropdown-menu{
    min-width: 200px !important;
}

/* -- Navbar end*/

/* Scroll btn start */

.scroll-up-btn{
    position: fixed;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.top-arrow{
    height: 45px;
    width: 45px;
    background: #525252;
    font-size: 20px;
    color: #fff;
    left: 60px;
    bottom: 10px;
    border-radius: 50%;
}

.scroll-up-btn.message-box{
    height: 45px;
    width: 45px;
    right: 60px;
    bottom: 10px;
}

.scroll-up-btn.show{
    bottom: 100px;
    opacity: 1;
    pointer-events: auto;
}

/* -- Scroll btn end */
/* comman images startt*/

section.first-img{
    width: 100%;
}
section.first-img img{
    width: 100%;
    margin-top: 40px;
}
/* comman images startt*/

/* sidebar and navbar css start*/
.nav-sidebar-ul{
    display: none;
}

/* sidebar and navbar css end*/




/* footer Start */

footer{
    background-color: #111111;
}

footer .footer-max-width{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    color: #F1F1F1;
}

footer .footer-max-width .nav li a{
    color: #F1F1F1;
    font-size: 14px;
}

footer .footer-max-width .logo img{
    width: 120px;
}

footer .footer-max-width .socil-icon a{
    margin: 0px 10px;
}

footer .privacy-policy{
    text-align: center;
    background-color: #292929;
    color: #F1F1F1;
    padding: 10px;
}

footer .privacy-policy span{
    color: #6EABEF;
}

footer .privacy-policy button{
    background: #EED507;
    border-radius: 20px;
    padding: 5px 30px;
}

/* -- footer end */

/* -- Common Style end */

/* Home Page Start */

/* home Section Start */

.home{
    min-height: 100vh;
    /* height: 100vh; */
}

.home .home-content{
    background: url("../img/home/group-35.png") no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding-bottom: 25px;
    padding-top: 330px;
}

.home .home-content .home-text h2{
    line-height: 54px;
    font-size: 50px;
}

.home .home-content .home-text{
    padding-left: 38px;
}

.home .home-content .home-text ul{
    padding-left: 0px;
}

.home .home-content .home-text ul li{
    list-style: none;
    line-height: 22px;
    font-size: 16px;
}

.home .home-content .home-text ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    padding-right: 12px;
}

.home .home-content .button button{
    border: 1px solid white;
    background-color: #00607287;
    color: white;
    border-radius: 54px;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 32px;
    margin-bottom: 60px;
}

.home .home-content .payment-process{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.home .home-content .payment-process .payment-process-box{
    margin-bottom: 7px;
}

.home .home-content .payment-process .img-size{
    width: 50px;
}

.home .home-content .payment-process .arrow img{
    width: 70px;
}

.home .home-content .payment-process .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.home .home-content .payment-process h6{
    font-size: 20px;
    line-height: 24px;
}

.home .home-content .payment-process .rotateImg{
    transform: rotateX(180deg);
}

.home .home-content .payment-process .payment-process-box h6 span{
    display: none;
}
.home .home-content .payment-process .payment-process-box h6{
    margin: auto;
}
.home .home-content .down-arrow{
    border: 1px solid white;
    padding: 9px 11px;
    border-radius: 50%;
    color: #FFFFFF00;
}
/* -- home Section end */

/* Why helperland */

.helperland .row .padding-lr-10{
    padding: 0px 10px;
}


.helperland .row h3{
    color: #565656;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
}

.helperland .row p{
    color: #565656;
    font-size: 17px;
    line-height: 24px;
}

/* blog */
.blog .blog-max-width{
    padding: 25px 46px !important;
}
.blog .background-img1{
    position: absolute;
    z-index: -1;
}
.blog .background-img2{
    position: absolute;
    right: 0;
    z-index: -1;
}
.blog .row h2{
    font-size: 30px;
    line-height: 36px;
    color: #4f4f4f;
}

.blog .row p{
    font-size: 18px;
    line-height: 24px;
    color: #4f4f4f;
}

/* our-blog */

.our-blog .card a{
    text-decoration: none;
    color: black;
}

.our-blog .card a img{
    margin-left: 4px;
}

.our-blog .card .card-body h5{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #3d4046;
}

.our-blog .card .card-body small{
    font-size: 13px;
    color: #a3a3a3;
}

.our-blog .card .card-body .card-text{
    font-size: 16px;
    line-height: 22px;
    color: #565656;
}

/* customer-review */

.customer-review .card{
    border-left: 3px solid #1d7a8c;
}

.customer-review .card .card-body h5{
    font-size: 20px;
    line-height: 24px;
    color: #4f4f4f;
}

.customer-review .card .card-body small{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 24px;
}

.customer-review .card .card-body p{
    color: #565656;
    font-size: 16px;
    line-height: 22px;
}

.customer-review .card a{
    text-decoration: none;
    color: black;
}


/* -- Home Page end */



/* FAQ Page Start */






/* FAQ Page end */






.FAQ .container-max-width{
   max-width: 931px;

}
.FAQ .container-max-width .control{
    cursor: pointer;
}
.FAQ .headding-content{
    font-size: 18px;

}
.FAQ .container-max-width ul li .nav-link{
    width: 100%;
}

/* .accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;

    content: "";
    background-image: url();
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
} */

.FAQ .container-max-width .accordion-button::after{
    content: none;
}

.FAQ .container-max-width .accordion-button::before{
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url(../img/faq/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    margin-right: 10px;
    /* transform: rotate(90deg); */
}
.FAQ .container-max-width .accordion-button:not(.collapsed)::before {
    background-image: url(../img/faq/right-arrow.png);
    transform: rotate(90deg);

}
.FAQ .container-max-width .accordion-button{
    font-size: 15px;
    color: #646464;
}
.FAQ .container-max-width .accordion-button:focus{
    border: none;
    box-shadow: none;
}
.FAQ .container-max-width .accordion-button:not(.collapsed){
    border: none;
    box-shadow: none;
    color: #646464;
    background-color: white;

}
.FAQ .container-max-width .tab-content .accordion-item{
    padding-bottom: 18px;
    border: none;
}

.FAQ .container-max-width .tab-content .accordion-item h3 .collapsed{
    transform: rotate(0 de);
}
.FAQ .container-max-width .tab-content .accordion-item h3 button{
    padding-left: 0 ;
    font-weight: bold;
}
.FAQ .container-max-width .tab-content .accordion-item .accordion-body{
    font-size: 15px;
    color: #646464;
    padding-top: 0px;
    padding-left: 30px;
    text-align: justify;
}
.FAQ .container-max-width p{
    color: #646464;
    font-size: 18px;
    line-height: 26px;
}

.FAQ .container-max-width .nav .nav-link{
    border-radius: 0px;
    background-color: #f6f6f6;
    font-size: 24px;
    line-height: 52px;
    color: #646464;
    border-bottom: 4px solid #1d7a8c;
}

.FAQ .container-max-width .nav .nav-link.active{
    color: #ffffff;
    background-color: #1d7a8c;
}


/* prices start */
.prices .price-box{
    margin: auto;
    height: 304px;
    max-width: 553px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B0C9CE;
    opacity: 1;
    border-radius: 0px;
}
.prices .price-box .heading-card{
    background-color: #1d7a8c;
    border-radius: 0px;
    color: #fff;
}
.prices .price-box .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.prices .price-box .card-body .card-title{
    font-size: 48px;
    color: #646464;
}
.prices .price-box .card-body .card-title span{
    font-size: 30px;

}
.prices .price-box .card-body .card-text{
    list-style-type: none;
    text-align: left;
    margin: auto;
    position: relative;
}
.prices .price-box .card-body .card-text li{
    margin-bottom: 15px;
}
.prices .price-box .card-body .card-text li::before{
    content: '';
    background-image: url(../img/prices/forma-1_5.png);
    width: 24px;
    height: 24px;
    left: 0px;
    position: absolute;
}


/* Extra-services start */

.Extra-services .other-services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.Extra-services .other-services .icon-box{

    width: 109px;
    height: 109px;
    border: 1px solid #B0C9CE;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.Extra-services .other-services .other-services-box{
    width: 109px;
    width: 141px;
    text-align: center;
    margin: 0 5px;
}
.Extra-services .other-services .other-services-box .icon-box{
    margin: 0 auto 17px auto;
}
.Extra-services .other-services .other-services-box h6{
    font-size: 16px;
    margin-bottom: 2px !important;
    color: #646464;
}
.Extra-services .other-services .other-services-box h5{
    font-size: 18px;
    color: #1d7a8c;
}

/* Extra-services end */
/* cleaning start */
.cleaning{
    background-color: #F6F6F6;
}
.cleaning .cleaning-img-box .card{
    border: none;
    background: transparent;
}
.cleaning .cleaning-img-box .card .card-body ul{
   padding: 0 0 0 25px;
}
.cleaning .cleaning-img-box .card .card-body ul li{
    /* list-style-image: url('../img/prices/right-arrow-grey.png'); */
    list-style: none;
    font-size: 16px;
    color: #4F4F4F;
    position: relative;
    margin-bottom: 15px;
}
.cleaning .cleaning-img-box .card .card-body ul li::before{
    content: '';
    background: url(../img/prices/right-arrow-grey.png);
    width: 22px;
    height: 22px;
    position: absolute;
    left: -27px;
}
.cleaning .cleaning-img-box .card .cleaning-text-box{
    padding: 0;
}

.cleaning .headding-star::after {
    background-color: #f6f6f6;
}


/* cleaning end */

/* why-helperland start */
.Why-helperland .card{
    border: none;
    color: #646464;
}
.Why-helperland .card h5{
    font-size: 20px;
}
.Why-helperland .card .card-body p{
    font-size: 14px;
}
.Why-helperland .card .card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



/* why-helperland end */




/* prices end */


/* Contect us start */

.contact-us .contact-img .card-img-top{
    width: 34px;
    flex-direction: column;

}
.contact-us .contact-img .box{
   max-width:153px ;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contact-us .contact-img .box .img-box{
    margin:auto;
    width: 34px;
    height: 54px;
}
.contact-us .contact-img .box .text-box{
    font-size: 16px;
    color: #4f4f4f;
    width: 200px;
}

/* touch us start */

.touch-us .touch-headding{
    font-size: 28px;
    font-weight: 400;
    color: #4F4F4F;
}
.touch-us .submit-btn{
    width: 163px;
    height: 46px;
    border: 1px solid #1D7A8C;
    border-radius: 23px;
    background-color: #1D7A8C;
    opacity: 1;
    font-size: 20px;
    color: #FFFFFF;
}

/* touch us end */

/* touch us map start */

.touch-map .img-1-box{
    position: relative;
    width: 100%;
}
.touch-map .img-1-box .img-1{
    width: 100%;
}

.touch-map .img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

/* touch us map end */

.contact-us-map{
    background: url('../img/contect_us/group-16.png') no-repeat center;
    height: 400px;
}
/* Contect us end */

/* about us start */

.words-1 .text-body{
    max-width: 982px;

    font-size: 16px;
    color: #646464 !important;
}
.words-1 .text-body{
    font-size: 16px;
    color: #646464 !important;
}
/* about us end */


/* service-provider css start */
.service-provider{
    background: url(../img/service-provider/become-a-pro-banner.png) no-repeat center;
    min-height: 100vh;
    display: flex;

}
.service-provider .register-box .touch-headding{
    font-size: 24px;
    font-weight:bold;
}
.service-provider .register-box{
    margin: 0 20px;
    padding: 0 20px;
}
.service-provider .register-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 151px;
    flex-direction: column;

}
.service-provider .register-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000026;
    width: 430px;
}
.service-provider .register-box span a{
    text-decoration: none;
}
.service-provider .register-box button{

    user-select: auto;
    height: 43px;
    width: 166px;
    font-size: 16px;
    border-radius: 23px;
    color: white;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border: none;
}
.service-provider .down-mainbox-arrow{
    padding-top: 44px;
}
.service-provider .down-arrow{
    border: 1px solid white;
    padding: 9px 11px;
    border-radius: 50%;
    color: #FFFFFF00;
}

.work{
    min-height: 100vh;
}
.works .background-img1{
    position: absolute;
    z-index: -1;
}
.works .background-img2{
    position: absolute;
    right: 0;
    z-index: -1;
}
.works .process a{
    font-size: 18px;
    text-decoration: none;
    color: #4f4f4f;
}
.work .process .process-img-2{
    border-radius: 50%;
}

/* service-provider css end */


/* upcoming service css start */
.headding-name {
    margin-top: 40px;
    height: 120px;
    background-color: #F9F9F9;
}

.upcomingservice,
.customer-service-provider{
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;

}
.upcomingservice,.customer-service-provider .sidebar-max-width{
    display: flex;
}
.sidebar-main{
    max-width: 262px;
    background: #1d7a8c !important;
}

.sidebar .sidebar-div-menu{


}
.sidebar ul
{
    flex-direction: column !important;
}
.sidebar ul li{
    font-size: 18px;
    width: 262px;
    line-height: 20px;
    padding: 17px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar ul li a{
    font-weight: normal;
    color: #FFFFFF !important;

}
.sidebar ul .active{
    background-color: #146371;
}
.sidebar ul li:hover{
    background-color: #146371;
}
.upcomingservice,.customer-service-provider .table{
    padding-left: 30px !important;
    max-width: 850px !important;
}

.upcomingservice,.customer-service-provider .dataTables_wrapper{
    margin-left: 30px;
}
.upcomingservice,.customer-service-provider .table-data{
    border-bottom: none !important;
}
.upcomingservice,.customer-service-provider tr{
    background-color: #f9f9f9;

}


/* customrt service provider css start */
.customer-service-provider .customer-table .sub-headding{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.customer-service-provider .customer-table .sub-headding h2{
    font-size: 22px;
    color: #646464;
}
.customer-service-provider .customer-table .sub-headding button{
    width: 70px;
    border-radius: 17px;
    background-color: #146371;
    color: #fff;
}
.customer-table tr th,td{
    text-align: center;
}
.customer-table tr th:nth-child(2){
    width: 230px !important;
}
.customer-table tr th:nth-child(1){
    width: 129px !important;
}
.customer-table .bold{
    font-weight: bold;
}
.customer-table .price{
    font-size: 22px;
    color: #146371;
    font-weight: bold;
}
.customer-table .media-body{
    margin-left:10px ;
}
.customer-table .media-body .fa-star{
    color: yellow;
}
.customer-table .media-body .fa-unstar{
    color: gray;
}
.customer-table button{
    height: 34px;
    padding: 0 5px;
}
/* customrt service provider css end */





nav .navbar-nav-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
nav .navbar-nav-icone li{
    list-style: none;
    border-left: 1px solid #e1e1e1;
}
/* upcoming service css end */





/* admin user management css satrt */
.navbar .headding{
    color: #ffff;
}
.navbar .admin-username{
    color: #fff;
}

.admin-body .admin-sidebar .collapse ul{
    display: flex;
    flex-direction: column !important;
    
}
.admin-body{
    background:#f2f4f5;
}
.admin-body .admin-dashboard .side-dashboard{
    width: 100%;
}
.admin-body .admin-sidebar .collapse ul li a{
    color: #646464 !important;
}
.admin-body .navbar{
    width: 272px;
    box-shadow: 2px 0px 6px #0000001A;
}
.admin-body .side-dashboard .col-auto{
    padding-left: 15px !important;
}
.admin-body .side-dashboard .dv-filter{
    height: 86px;
    background: #fff !important;
    width: 100%;
}
.admin-body .side-dashboard .dv-filter .col{
    max-width: 210px;
    margin: 0 15px;

}
.admin-body .side-dashboard .dv-filter .col input{
    min-width: 210px;
}
.admin-body .side-dashboard .dv-filter .col .phonenumber{
    width: 219px;
}
.admin-body .navbar-nav .dropdown select{
    border: none !important;
    background-color:#f8f9fa;
}
.admin-body .navbar-nav .dropdown select{
    background-image: url('../img/admin-user/sp-arrow-down.png');
    /* transform: rotate(-90deg); */
}
/* admin user management css end */

footer .detaile{
    border-top: 2px solid #424242;
}
footer .detaile p{
    font-size: 14px;
    color: #9BA0A3;
    padding: 27px 0 0 0;
    text-align: center;

}

.selected{

}

.form-select{
    color:black !important;
}
.form-select .selected{
    color:#6c757d !important;
}