@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
    int serviceprovider = Convert.ToInt16(UserTypeEnum.ServiceProvider);
    int customer = Convert.ToInt16(UserTypeEnum.Customer);
}
<div class="side-dashboard p-lr-20">
    <div class="sub-headding d-flex justify-content-between p-tb-15 m-t-15">
        <h2>User Management</h2>
        <button class="new-user btn" asp-action="CreateAccount" asp-controller="Account">
            <img src="~/img/admin-user/add.png" alt="">&nbsp;&nbsp; Add New
            User
        </button>
    </div>
    <form>
        <div class="form-row align-items-center d-flex justify-content-center dv-filter">
            <div class="col form-group col-md-4">

                @*<select id="inputState" class="form-control">
                        <option disabled selected>User Name</option>
                        <option>...</option>
                    </select>*@
                <div class="input-group mb-2 d-flex phonenumber">

                    @*<input type="text" class="form-control phonenumber-input" id="serchusername"
                        placeholder="Username">*@
                    <select name="simpleSelect2" class="form-control" id="serchusername">
                    </select>
                </div>

            </div>
            <div class="col form-group col-md-4">

                <select id="idusertype" class="form-select">
                    <option value="0" selected>User Type</option>
                    <option value="1">Admin</option>
                    <option value="2">Service Provider</option>
                    <option value="3">Customer</option>
                </select>
            </div>
            <div class="col phonenumber-col">

                <div class="input-group mb-2 d-flex phonenumber">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+49</div>
                    </div>
                    <input type="text" class="form-control phonenumber-input" id="idphonenumber"
                           placeholder="Username">
                </div>
            </div>

            <div class="col">
                <input type="text" class="form-control" placeholder="Zip" id="idpostalcode">
            </div>

            <div class="col datetime">
                <!-- <input type="text" placeholder="From Date" class="form-control input-element width-135" onfocus="(this.type='date')" onblur="(this.type='text')"> -->
                <input type="text" id="txtFromDate" placeholder="From Date" onfocus="(this.type='date')" class="calender-icon form-control input-element width-135">
                <!-- <input type="date" class="form-control input-element width-135" id=""> -->
            </div>
            <div class="col datatime">
                <!-- <input type="text" placeholder="To Date" class="form-control input-element width-135" onfocus="(this.type='date')" onblur="(this.type='text')"> -->
                <input type="text" placeholder="To Date" id="txtToDate" class="calender-icon form-control input-element width-135" onfocus="(this.type='date')">
                <!-- <input type="date" class="form-control input-element width-135" id=""> -->

            </div>
            <br />
            <div class="w-100 d-flex justify-content-center mt-3 mb-3">
                <div class="col">
                    <button type="button" id="btnserchsubmit" class="btn btn-primary mb-2 admin-submit">Submit</button>
                </div>
                <div class="col">
                    <button type="button" id="btnclear" class="btn btn-light mb-2">clear</button>
                </div>
            </div>
        </div>
    </form>
    <div class="admin-data-table p-t-20 m-t-40">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>User Name<img alt="" class="sorting-img p-l-5"></th>
                    <th>Role<img alt="" class="sorting-img p-l-5"></th>
                    <th>Date Of <br /> Registration<img alt="" class="sorting-img p-l-5"></th>
                    <th>User Type<img alt="" class="sorting-img p-l-5"></th>
                    <th>Phone<img alt="" class="sorting-img p-l-5"></th>
                    <th>PosterCode<img alt="" class="sorting-img p-l-5"></th>
                    <th>USer Status<img alt="" class="sorting-img p-l-5"></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    @*Select2 Js*@
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/Admin/UserManagement.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
}
