@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
    int serviceprovider = Convert.ToInt16(UserTypeEnum.ServiceProvider);
    int customer = Convert.ToInt16(UserTypeEnum.Customer);
}
<div class="side-dashboard p-lr-20">
    <div class="sub-headding d-flex justify-content-between p-tb-15 m-t-15">
        <h2>User Management</h2>
        <button class="new-user btn">
            <img src="~/img/admin-user/add.png" alt="">&nbsp;&nbsp; Add New
            User
        </button>
    </div>
    <form>
        <div class="form-row align-items-center d-flex justify-content-center dv-filter">
            <div class="col form-group col-md-4">

                <select id="inputState" class="form-control">
                    <option disabled selected>User Name</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col form-group col-md-4">

                <select id="inputState" class="form-control">
                    <option disabled selected>User Role</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col phonenumber-col">

                <div class="input-group mb-2 d-flex phonenumber">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+49</div>
                    </div>
                    <input type="text" class="form-control phonenumber-input" id="inlineFormInputGroup"
                           placeholder="Username">
                </div>
            </div>

            <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2 admin-submit">Submit</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-light mb-2">clear</button>
            </div>
        </div>
    </form>
    <div class="admin-data-table p-t-20">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>User Name<img alt="" class="sorting-img p-l-5"></th>
                    <th>Role<img alt="" class="sorting-img p-l-5"></th>
                    <th>Date Of <br /> Registration<img alt="" class="sorting-img p-l-5"></th>
                    <th>User Type<img alt="" class="sorting-img p-l-5"></th>
                    <th>Phone<img alt="" class="sorting-img p-l-5"></th>
                    <th>PosterCode<img alt="" class="sorting-img p-l-5"></th>
                    <th>USer Status<img alt="" class="sorting-img p-l-5"></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Admin/UserManagement.js"></script>
}
