@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "MySettings";
    var user = Context.Session.GetString("User");
    SessionUser sessionUser = new SessionUser();

    if (user != null)
    {
        sessionUser = JsonConvert.DeserializeObject<SessionUser>(user);
    }
}
<input type="hidden" value="@sessionUser.UserID" id="loginuserid" />
<!-- my settings in cutomer -->
<div class="w-100 ms-3 dvmysettings">
    <ul class="mysettings nav nav-pills mb-3 text-center nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">
                <span class="settings-details-name"> My Details</span>
                <span class="mysettings-details-img mysettngsimg d-none"></span>
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                    aria-selected="false">

                <span class="settings-details-name">  Change Password</span>
                <span class="mysettings-password-img d-none mysettngsimg">

                </span>
            </button>
        </li>
    </ul>
    <div class="alert alert-success d-none" role="alert" id="successmesg">
        @*Data Updated Succesfully*@

    </div>
    <div class="tab-content" id="pills-tabContent">
        <!-- tab-1 -->
        <div class="tab-pane fade show active tab-1" id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab">
            <div class="avatar-headding">
                <img alt="avtar" id="Profileicon" style="float: right;" src="">
                <h3 class="pt-4">Basic Details</h3>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">

                <div class="col-md-4">
                    <label for="txtfirstname" class="form-label">First name</label>
                    <input type="text" class="form-control" id="txtfirstname"
                           aria-describedby="emailHelp" placeholder="First name">
                    <span id="errorfirstname" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="txtlastname" class="form-label">last name</label>
                    <input type="text" class="form-control" id="txtlastname"
                           aria-describedby="emailHelp" placeholder="last name">
                    <span id="spnerrorlastname" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="txtemail" class="form-label">E-mail address</label>
                    <input type="text" class="form-control" id="txtemail"
                           aria-describedby="emailHelp" placeholder="E-mail address" readonly>
                    <span class="text-danger" id="spnemailerrormesg"></span>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                <div class="col-md-4">
                    <label for="txtphonenumber" class="form-label">Phone Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+49</div>
                        </div>
                        <input type="text" class="form-control" id="txtphonenumber"
                               placeholder="Mobile Number">
                    </div>
                    <span class="text-danger" id="spntxtphonenumber"></span>
                </div>
                <div class="col-md-4">
                    <label for="ddlday" class="form-label">Date Of Birth</label>
                    <div class="drpbirth d-flex">
                        <select class="form-select date" aria-label="Default select example" id="ddlday">
                            <option value="-1" selected>
                                Day
                            </option>
                            @for (int i = 1; i < 32; i++)
                            {
                                <option value=@i>
                                    @i
                                </option>
                            }
                        </select>
                        <select class="form-select month ms-2" aria-label="Default select example" id="fillselMonth">
                            <option value="0">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select class="form-select year ms-2" aria-label="Default select example" id="ddlyear" value="0">
                            <option value="0" selected>
                                Year
                            </option>
                            @for (int i = DateTime.Now.Year; i > (DateTime.Now.Year - 117); i--)
                            {
                                <option value=@i>
                                    @i
                                </option>
                            }
                        </select>

                    </div>
                    <span class="text-danger" id="spndboerrormesg"></span>
                </div>

                <div class="col-md-4">
                    <label for="usernationality" class="form-label">Nationality</label>
                    <select class="form-select language ms-2 w-100" id="usernationality">
                        <option value="1" selected>Indian</option>
                        <option value="2">Germany</option>
                        <option value="3">American</option>
                    </select>
                </div>
            </div>

            <hr class="m-tb-15">
            <label> Gender</label>
            <div class="col genderrow mb-3">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="Male" value="1">
                    <label class="form-check-label" for="Male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="Female" value="2">
                    <label class="form-check-label" for="Female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="Other" value="3">
                    <label class="form-check-label" for="Other">RatherNotToSay</label>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">

                <div class="Avatar w-100" id="Avatar">
                    <div class="avatar-headding mb-2">
                        Select Avtar
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-1" value="option1" hidden checked>
                        <label class="form-check-label" for="Avatar-1"><img src="~/img/service-provider/avatar-car.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-2" value="option2" hidden>
                        <label class="form-check-label" for="Avatar-2"><img src="~/img/service-provider/avatar-female.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-3" value="option1" hidden>
                        <label class="form-check-label" for="Avatar-3"><img src="~/img/service-provider/avatar-hat.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-4" value="option1" hidden>
                        <label class="form-check-label" for="Avatar-4"><img src="~/img/service-provider/avatar-iron.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-5" value="option2" hidden>
                        <label class="form-check-label" for="Avatar-5"><img src="~/img/service-provider/avatar-male.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                        <input class="form-check-input" type="radio" name="Avatar" id="Avatar-6" value="option1" hidden>
                        <label class="form-check-label" for="Avatar-6"><img src="~/img/service-provider/avatar-ship.png" alt="Alternate Text" class="Avatar-img" /></label>
                    </div>
                </div>
            </div>

            <label class="mt-3 settingsheadding w-100">My Address</label>
            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">

                <div class="col-md-4">
                    <label for="txtstreetname" class="form-label">Street name</label>
                    <input type="text" class="form-control" id="txtstreetname"
                           aria-describedby="emailHelp" placeholder="Street name">
                    <span class="text-danger" id="spnstreetnameerror"></span>
                </div>
                <div class="col-md-4">
                    <label for="txthousenumber" class="form-label">House number</label>
                    <input type="text" class="form-control" id="txthousenumber"
                           aria-describedby="emailHelp" placeholder="House number">
                    <span class="text-danger" id="spnhousenumbererror"></span>
                </div>
                <div class="col-md-4">

                    <label for="txtpostalcode" class="form-label">Postal code</label>
                    <input type="text" class="form-control" id="txtpostalcode"
                           aria-describedby="emailHelp" placeholder="Postal code">
                    <span class="text-danger" id="spnpostalcodeerrormesg"></span>

                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mt-0 mb-3">
                <div class="col-md-4">
                    <label for="dropcity" class="form-label">City</label>
                    <select class="form-select" id="dropcity" aria-describedby="emailHelp"
                            placeholder="City">
                    </select>
                </div>
            </div>

            <div class="text-center text-md-start">
                <button class="btncontinue d-inline-block m-sm-auto" onclick="saveupdatedata(@sessionUser.UserID)">Save</button>
            </div>
        </div>

        <!-- //tab-2 -->
        <div class="tab-pane fade tab-3" id="pills-contact" role="tabpanel"
             aria-labelledby="pills-contact-tab">

            <div class="col-md-12 d-flex flex-column mb-15">
                <label for="currentpswd" class="form-label">Old Password</label>
                <input type="text" class="form-control" id="currentpswd" aria-describedby="emailHelp"
                       placeholder="Current Password">
                <span id="errorcurrentpsw" class="text-danger"></span>
            </div>
            <div class="col-md-12 d-flex flex-column mb-15">
                <label for="newpsw" class="form-label">New Password</label>
                <input type="text" class="form-control" id="newpsw" aria-describedby="emailHelp"
                       placeholder="Password">
                <span id="errornewpsw" class="text-danger"></span>
            </div>
            <div class="col-md-12 d-flex flex-column mb-15">
                <label for="cofirmnewpswd" class="form-label">New Confirm Password</label>
                <input type="text" class="form-control" id="cofirmnewpswd" aria-describedby="emailHelp"
                       placeholder="Confirm Password">
                <span id="errornewconfirmpsw" class="text-danger"></span>
            </div>
            <div class="btncontinue d-inline-block" onclick="chnagepassword()">Save</div>
        </div>
    </div>
</div>



<!-- //extra model -->
<!-- Modal -->
<div class="modal fade newaddressmodel" id="settingnewaddress" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modeltitle">

                    @*Add New Address*@

                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body settings-newaddress">

                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                    <div class="col mt-0">
                        <label for="txtstreetname" class="form-label">Street name</label>
                        <input type="text" class="form-control" id="txtstreetname"
                               aria-describedby="emailHelp" placeholder="Street name">
                        <span class="text-danger" id="spnstreetnameerror"></span>
                    </div>

                    <div class="col mt-0">
                        <label for="txthousenumber" class="form-label">House number</label>
                        <input type="text" class="form-control" id="txthousenumber"
                               aria-describedby="emailHelp" placeholder="House number">
                        <span class="text-danger" id="spnhousenumbererror"></span>
                    </div>

                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                    <div class="col">
                        <label for="txtpostalcode" class="form-label">Postal code</label>
                        <input type="text" class="form-control" id="txtpostalcode"
                               aria-describedby="emailHelp" placeholder="Postal code">
                        <span class="text-danger" id="spnpostalcodeerrormesg"></span>
                    </div>
                    <div class="col">
                        <label for="dropcity" class="form-label">City</label>
                        <select class="form-select" id="dropcity" aria-describedby="emailHelp"
                                placeholder="City">
                        </select>
                    </div>
                </div>





                <div class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                    <div class="col">
                        <label for="mobilenumber" class="form-label">Phone Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+49</div>
                            </div>
                            <input type="text" class="form-control" id="mobilenumber"
                                   placeholder="Mobile Number">
                        </div>
                        <span class="text-danger" id="spnmobilenumbererror"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer w-100" id="btnaddressmodel">

            </div>
        </div>
    </div>
</div>


@section UserLayoutSection{
    <script>

        var _RegExpressMobile = new RegExp("^[0-9]{10}$");
        $(document).ready(function () {
            loaddata();
        });


        function loaddata() {
            var userid = $("#loginuserid").val();
            $.ajax({
                url: '/serviceprovider/filldeitails',
                data: { 'userid': userid },
                type: 'post',

                success: function (resp) {

                    console.log(resp);
                    document.getElementById("txtfirstname").value = resp.firstName;
                    document.getElementById("txtlastname").value = resp.lastName;
                    document.getElementById("txtemail").value = resp.email;
                    document.getElementById("txtphonenumber").value = resp.mobile;
                    $("userlanguage").val(resp.languageId);

                    if (resp.dateOfBirth != null) {
                        debugger;
                        var nData = new Date(resp.dateOfBirth);
                        $("#ddlday").val(nData.getDate());
                        console.log(nData.getMonth());
                        $("#fillselMonth").val((nData.getMonth() + 1).toString());
                        document.getElementById("fillselMonth").value = (new Date(nData).getMonth() + 1);
                        $("#ddlyear").val(nData.getFullYear());
                    }

                    $("input[type=radio][name=Gender][value=" + resp.gender + "]").attr('checked', true);

                    $("#Profileicon").attr('src', resp.userProfilePicture);

                    $("input[type=radio][name=Avatar]").each(function () {
                        var spimg = $(this).closest(".form-check").find("label").find("img").attr("src");

                        if (spimg == resp.userProfilePicture) {
                            $(this).attr('checked', true);
                        }
                    });
                    $("#userlanguage").val(resp.languageId);

                    /*address edit add*/
                  
                    if (resp.userAddresses.length > 0) {
                        $("#txtstreetname").val(resp.userAddresses[0].addressLine1);
                        $("#txthousenumber").val(resp.userAddresses[0].addressLine2);
                        $("#txtpostalcode").val(resp.userAddresses[0].postalCode);
                        filecitydropdwon(resp.userAddresses[0].postalCode);
                        $("#dropcity").val(resp.userAddresses[0].city);
                    }
                }
            });

        }


       /* tab 1 js*/
        function saveupdatedata(userid) {

            var dboday = $("#ddlday").val().toString().trim();
            var dbomonth = $("#fillselMonth").val().toString().trim();
            var dboyear = $("#ddlyear").val().toString().trim();

            //dboyear.toString() + "/" + dbomonth.toString() + "/" + (dboday + 1).toString()
            var dbo = new Date(dboyear, dbomonth-1, dboday);

            if (dboday != "" || dbomonth != "" || dboyear != "") {
                if (!isValidDate(dboyear, dbomonth, dboday)) {
                    $("#spndboerrormesg").html("Please enter Valid Birth Date");
                }
                else {
                    $("#spndboerrormesg").html("");
                }
            }

            var customer = {
                userid: $("#loginuserid").val(),
                firstName: $("#txtfirstname").val(),
                lastName: $("#txtlastname").val(),
                email: $("#txtemail").val(),
                mobile: $("#txtphonenumber").val(),
                language: $("userlanguage").val(),
                dateOfBirth: dbo.toISOString(),
                gender: $('input[name="Gender"]:checked').val(),

            };

            if ($("#txtfirstname").val() == "") {
                $("#errorfirstname").html("Please enter the firstName");
            }
            else {
                $("#errorfirstname").html("");
            }
            if ($("#txtlastname").val() == "") {
                $("#spnerrorlastname").html("Please enter the lastname");
            }
            else {
                $("#spnerrorlastname").html("");
            }

            if ($("#txtphonenumber").val() == "") {
                $("#spntxtphonenumber").html("Please enter the Phonenumber");
            }
            else if (!_RegExpressMobile.test($("#txtphonenumber").val())) {
                $("#spntxtphonenumber").html("Please enter Valid Phone number");
            }
            else {
                $("#spntxtphonenumber").html("");
            }

            //address tab
            debugger;
            if ($("#txtstreetname").val() == "") {
                $("#spnstreetnameerror").html("Please enter the Street name");
            }
            else {
                $("#spnstreetnameerror").html("");
            }
            if ($("#txthousenumber").val() == "") {
                $("#spnhousenumbererror").html("Please enter the house Number");
            }
            else {
                $("#spnhousenumbererror").html("");
            }
            if ($("#txtpostalcode").val() == "") {
                $("#spnpostalcodeerrormesg").html("Please enter the Postal code");
            }
            else {
                $("#spnpostalcodeerrormesg").html("");
            }


            //address tab over

            if ($("#errorfirstname").val() == "" &&
                $("#spnerrorlastname").val() == "" &&
                $("#spntxtphonenumber").val() == "" &&
                $("#txtfirstname").val() != "" &&
                $("#txtlastname").val() != "" &&
                $("#txtphonenumber").val() != "" &&
                $("#spndboerrormesg").html() == "" &&
                $("#txtstreetname").val() != "" &&
                $("#txthousenumber").val() != "" &&
                $("#txtpostalcode").val() != "" &&
                $("#spnstreetnameerror").val() == "" &&
                $("#spnhousenumbererror").val() == "" &&
                $("#spnpostalcodeerrormesg").val() == ""
            ) {
                console.log(customer + "customer");
                $.ajax({
                    url: '/customer/updatedetialsbyuserid',
                    type: 'post',
                    data: customer,
                    datatype: "json",
                    cache: false,

                    success: function (resp) {
                        console.log(resp);
                        if (resp) {
                            $("#successmesg").removeClass(" d-none");
                            $("#successmesg").text('Your Details is Updated');

                        }

                    }
                });
               
                var serviceprovideraddress = {
                    userid: userid,
                    addressLine1: $("#txtstreetname").val(),
                    addressLine2: $("#txthousenumber").val(),
                    postalCode: $("#txtpostalcode").val(),
                    mobile: $("#txtphonenumber").val(),
                    city: $("#dropcity").val(),
                    email: $(":input[type=text][readonly='readonly']").val()
                    
                };
                //address ajax
                $.ajax({
                    url: '/serviceprovider/addorupdateaddress',
                    type: 'post',
                    data: serviceprovideraddress,
                    datatype: "json",
                    cache: false,

                    success: function (resp) {
                        console.log(resp);
                        if (resp) {
                            $("#successmesg").removeClass(" d-none");
                            $("#successmesg").text('Your Details is Updated');

                        }

                    }
                });
            }



        }
        function isValidDate(year, month, day) {
            var d = new Date(year + "-" + AppendZero(month) + "-" + AppendZero(day));
            if (d.getFullYear().toString() == year && (d.getMonth() + 1).toString() == month && d.getDate().toString() == day) {
                return true;
            }
            return false;
        }
        function AppendZero(input) {
            if (input.length == 1) {
                return '0' + input;
            }
            return input;
        }

        $("input[type=radio][name=Avatar]").click(function () {
            $("input[type=radio][name=Avatar]").each(function () {
                if ($(this).prop('checked')) {
                    var spprofile = $(this).closest(".form-check").find("label").find("img").attr("src");
                    $("#Profileicon").attr('src', spprofile);
                }
            });
        });



        /*tab2 js*/

        $("#txtpostalcode").change(function () {
            /*$('#inpcurrentpostalcode').html($("#txtzipcode").val());*/
            var postalcode = $("#txtpostalcode").val();
            /* alert($('#txtzipcode').val());*/
            // console.log(checkpostalcode);
            $("#loader").addClass("is-active");
            filecitydropdwon(postalcode);

        });

        function filecitydropdwon(postalcode) {
            $.ajax({
                type: "POST",
                url: "/home/FillCityDropdown",
                data: { "postalcode": postalcode },
                success: function (res) {
                    console.log(res);
                    $("#loader").removeClass("is-active");

                    if (res.length == 0) {
                        document.getElementById("spnpostalcodeerrormesg").innerHTML = "PLease enter the Valid Postal Code";
                        $("#fillselMonth").empty();
                    }
                    else {
                        res.forEach((city) => {
                            $('#dropcity').append($("<option></option>").val(city.cityName).html(city.cityName));
                        });
                    }

                }

            });
        }

        //function SaveNewAddress() {
        //    if (document.getElementById("txtstreetname").value.length > 0) {
        //        document.getElementById("spnstreetnameerror").innerHTML = "";
        //        if (document.getElementById("txthousenumber").value.length > 0) {
        //            document.getElementById("spnhousenumbererror").innerHTML = "";
        //            if (document.getElementById("mobilenumber").value.length > 0) {
        //                if (document.getElementById("mobilenumber").value.length < 10) {
        //                    document.getElementById("spnmobilenumbererror").innerHTML = "Enter valid Mobile number!!";
        //                    document.getElementById("spnstreetnameerror").innerHTML = "";
        //                    document.getElementById("spnhousenumbererror").innerHTML = "";
        //                }
        //                else {
        //                    document.getElementById("spnmobilenumbererror").innerHTML = "";
        //                    if (document.getElementById("txtpostalcode").value.length > 0) {
        //                        document.getElementById("spnpostalcodeerrormesg").innerHTML = "";
        //                        debugger;
        //                        var newaddress = {}
        //                        newaddress.userid = $("#loginuserid").val();
        //                        newaddress.StreetName = $("#txtstreetname").val()
        //                        newaddress.Housenumber = $("#txthousenumber").val();
        //                        newaddress.City = $("#dropcity").val();
        //                        newaddress.PostalCode = $("#txtpostalcode").val();
        //                        newaddress.MobileNumber = $("#mobilenumber").val();
        //                        console.log(newaddress + "new address");
        //                        $("#loader").addClass("is-active");
        //                        $.ajax({
        //                            url: '/Home/AddCustomerUserAddress',
        //                            type: 'post',
        //                            dataType: 'json',
        //                            contentType: 'application/json',
        //                            data: JSON.stringify(newaddress),
        //                            success: function (resp) {
        //                                $("#loader").removeClass("is-active");
        //                                if (resp) {
        //                                    $(".tabaddress").click();
        //                                    clearnewaddressdetail();

        //                                    $("#settingnewaddress").modal("hide");

        //                                    $("#tblCustomerAddressList tbody").html(htmlContent);
        //                                    $("#successmesg").removeClass(" d-none");
        //                                    $("#successmesg").html("New Address Added Succesfully..!!")

        //                                }
        //                                else {
        //                                    alert("erorr");

        //                                }
        //                            },
        //                            error: function (err) {
        //                                console.log(err);
        //                                document.getElementById("spnpostalcodeerrormesg").innerHTML = "PLease enter the Valid Postal Code";
        //                            }
        //                        });
        //                    }
        //                    else {
        //                        document.getElementById("spnpostalcodeerrormesg").innerHTML = "Plese enter the postal code";
        //                    }

        //                }
        //            }
        //            else {
        //                document.getElementById("spnmobilenumbererror").innerHTML = "Enter Mobile number!!";
        //                document.getElementById("spnstreetnameerror").innerHTML = "";
        //                document.getElementById("spnhousenumbererror").innerHTML = "";
        //            }
        //        }
        //        else {
        //            document.getElementById("spnhousenumbererror").innerHTML = "Enter House number!!";
        //            document.getElementById("spnstreetnameerror").innerHTML = "";
        //            document.getElementById("spnmobilenumbererror").innerHTML = "";
        //        }
        //    }
        //    else {
        //        document.getElementById("spnstreetnameerror").innerHTML = "Enter Street name!!";
        //        document.getElementById("spnhousenumbererror").innerHTML = "";
        //        document.getElementById("spnmobilenumbererror").innerHTML = "";
        //    }

        //}

        /*tab 3 js start*/

        function chnagepassword() {
            debugger;
            var _regulerexpforpsw = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{6,16}$");
            var oldpassword = $("#currentpswd").val();
            var newpassword = $("#newpsw").val();
            var newconfirmpassword = $("#cofirmnewpswd").val();

            if ($("#currentpswd").val() == "") {
                    $("#errorcurrentpsw").html("Please enter the OldPassword");
            }
            else {
                if (!_regulerexpforpsw.test($("#currentpswd").val())) {
                    $("#errorcurrentpsw").html("Please enter Valid Password");
                }
                else {
                    $("#errorcurrentpsw").html("");
                }
            }
            if ($("#newpsw").val() == "") {
                $("#errornewpsw").html("Please enter the New Password");
            }
            else {
                if (!_regulerexpforpsw.test($("#newpsw").val())) {
                    $("#errornewpsw").html("Please enter Valid Password");
                }
                else {
                    $("#errornewpsw").html("");
                }
            }
            if ($("#cofirmnewpswd").val() == "") {
                $("#errornewconfirmpsw").html("Please enter the New Password");
            }
            else {
                if ($("#newpsw").val() != $("#cofirmnewpswd").val()) {
                    $("#errornewconfirmpsw").html("New Password and Cinfirm new Password must be same");
                }
                else {
                    $("#errornewconfirmpsw").html("");
                }
            }
            if ($("#errorcurrentpsw").val() == "" && $("#errornewpsw").val() == "" && $("#errornewconfirmpsw").val() == "" &&
                $("#cofirmnewpswd").val() != "" && $("#currentpswd").val() != "" && $("#newpsw").val() != "" && $("#newpsw").val() == $("#cofirmnewpswd").val()){

                checkoldpassword($("#currentpswd").val(), $("#newpsw").val());
            }
            else {
                return;
            }
        }

        function checkoldpassword(psw, newpsw) {
            var userid = @sessionUser.UserID;
              $.ajax({
                  url: '/serviceprovider/checkingoldpassword',
                  data: { 'password': psw, 'userid': userid, 'newpassword':newpsw},
                  type: 'post',

                  success: function (resp) {
                      console.log(resp);
                      if (resp == true) {
                          $("#successmesg").removeClass(" d-none");
                          $("#cofirmnewpswd").html("");
                          $("#currentpswd").html("");
                          $("#newpsw").html("");
                          $("#successmesg").removeClass(" d-none");
                          $("#successmesg").html("Your Password is Updated Successfully..!!");
                      }
                      else {
                          $("#errorcurrentpsw").html("Your Passowrd is Wrong");

                      }
                  }
              });
        }



    </script>


}