@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<table id="example" class="table-data upcoming-service-table" style="width:100%">
    <thead>
        <tr class="text-center">
            <th>Service ID <img alt="" class="sorting-img"></th>
            <th>Service data <img alt="" class="sorting-img"></th>
            <th class="cus-dait">Customer details <img alt="" class="sorting-img"></th>
            <th>Distance <img alt="" class="sorting-img"></th>
            <th>Action <img alt="" class="sorting-img"></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>323435</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                deep  <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323436</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                Drashti <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323437</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                Manali <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323438</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                chintan<br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323439</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                David Bough <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323439</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                David Bough <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323430</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                David Bough <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323431</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                David Bough <br>
                <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>
        <tr>
            <td>323432</td>
            <td>
                <img src="assets/img/service-provider-upcoming-service/calendar2.png" alt=""> <span>09/04/2018</span> <br>
                <img src="assets/img/service-provider-upcoming-service/layer-712.png" alt=""> 12:00 - 18:00
            </td>
            <td>
                David Bough <br>
                <div> <img src="assets/img/service-provider-upcoming-service/layer-15.png" alt=""> Musterstrabe 5,12345 Bonn </div>

            </td>
            <td>15km</td>
            <td><button class="btn btn-danger btn-rounded-17" value="Cancel">Cancel</button></td>

        </tr>



    </tbody>

</table>

@section UserLayoutSection{
    <script>


        $(document).ready(function () {
            $('#example').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ],

                "bFilter": false, //hide Search bar
                "pagingType": "full_numbers",
                paging: false,
                "pagingType": "full_numbers",
                // bFilter: false,
                ordering: true,
                searching: false,
                info: false,
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ],
                "oLanguage": {
                    "sInfo": "Total Records: _TOTAL_"
                },
                "dom": '<"top">rt<"bottom"lip><"clear">',
                responsive: true,
                "order": []
            });
        });


    </script>
}