<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" href="#">New Service</a>
</li>
<li class="sid-nav-item active">
    <a class="sid-nav-link" aria-current="page" href="#">upcoming Service</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" href="#">Service Schedule</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" href="#">Service History</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" href="#">My Ratings</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" href="#">Block Customer</a>
</li>