<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" asp-action="NewServiceRequest" asp-controller="ServiceProvider" >New Service</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" asp-action="UpcomingServices" asp-controller="ServiceProvider">upcoming Service</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" >Service Schedule</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" asp-action="ServiceHistory" asp-controller="ServiceProvider">Service History</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" asp-action="Ratings" asp-controller="ServiceProvider">My Ratings</a>
</li>
<li class="sid-nav-item">
    <a class="sid-nav-link" aria-current="page" asp-action="BlockCustomer" asp-controller="ServiceProvider">Block Customer</a>
</li>